.holdings_container {
    width: 100%;
    margin: 20px auto;
    padding: 15px;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    margin-top: 80px;
}

.holdings_header {
    display: flex;
    align-items: center;
    background: #a399ff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.holdings_chart_icon {
    font-size: 30px;
    color: #1d00d8;
}

.holdings_title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    color: #fff;
}

.holdings_table_wrapper {
    width: 100%;
    /* overflow-x: auto;  */
}

.holdings_table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    min-width: 900px;
}

.holdings_table th, .holdings_table td {
    border: 1px solid #ddd;
    padding: 8px;
    white-space: nowrap;
    text-align: center;
}

.holdings_table th {
    background: #1976d2;
    color: #ffffff;
    font-weight: bold;
    word-wrap: break-word;
    text-align: center;
}

.holdings_table tr:nth-child(even) {
    background: #f2f2f2;
}

.holdings_table tr:hover {
    background: #ddd;
}


@media screen and (max-width: 768px) {
    .holdings_table_wrapper {
        width: 100%;
        overflow-x: auto;
    }

    .holdings_table th, .holdings_table td {
        padding: 6px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .holdings_table_wrapper {
        width: 67%;
    }

    .holdings_table th, .holdings_table td {
        padding: 12px;
        font-size: 14px;
    }

    .holdings_title {
        font-size: 16px;
    }

    .holdings_chart_icon {
        font-size: 24px;
    }
}

@media screen and (max-width: 360px) {
    .holdings_table_wrapper {
        width: 60%;
    }
}
