

.blogsMian_multi {
    background-color: #F8F8FF;
    display: flex;
    justify-content: center;
    align-items: center;

}

.blogsCards_multi {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 20px;
    padding: 30px;
}



.cardsBlogs_multi {
    width: 100%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}



.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    background-color: black;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);


}

.banner .banner_text {
    color: #fff;
    font-size: 52px;
    padding: 30px;
    font-weight: bold;


}

/* ---------------------------------------------------------- */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #F8F8FF;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #4777f4;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.readMoreBtn {
    background-color: blue;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);


}
.btnText{
    color: #fff;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    font-weight: 500;
}


/* ------------------------- MEDIA QUERIES ------------------------- */
/* 1180px to 992px */
@media (max-width: 1180px) {
    .blogsCards_multi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cardsBlogs_multi {
        margin: 5px;
        width: 50%;
    }

}

/* 991px to 768px */
@media (max-width: 991px) {}

/* 767px to 576px */
@media (max-width: 767px) {}

/* 575px to 360px */
@media (max-width: 575px) {

    .cardsBlogs_multi {
        margin: 5px;
        width: 100%;
    }


}

@media (max-width: 440px) {
    .blogsCards_multi {

        padding: 10px;
    }

    .pagination {

        padding: 20px;
    }

}

/* Below 360px */
@media (max-width: 360px) {}