.developers_page {
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 20px;
    border-radius: 30px;
    background-color: #fff;
    width: 100%;

}

.first_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.logo_div {
    background-color: #fff;
    display: flex;
    justify-content: center;
    width: 30%;
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); */
    padding: 15px;
    border-radius: 20px;

}

.logo_div .company_logo {
    width: 50%;
}

.company_name_div {
    /* width: 70%; */
    /* background-color: #fff; */
    margin-top: 20px;

}

.company_name_div .company_name {
    font-size: 42px;
    padding: 10px;
    font-weight: bold;
    color: #000;

}

.second_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 65%;
    margin-top: 20px;
}

.email_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #fff;
    width: 40%;
    padding: 10px;
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); */
    border-radius: 20px;
    margin: 10px;


}

.email_div .email {
    font-size: 24px;

}

.contact_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #fff;
    width: 40%;
    padding: 10px;
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); */
    border-radius: 20px;
    margin: 10px;


}

.contact_div .contact {
    font-size: 24px;

}

.third_div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    width: 40%;

}

.socialIcons {
    background-color: #fff;
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); */
    padding: 20px;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}