.overview_index_page {
    width: 100%;
    margin: 20px auto;
    padding: 15px;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    margin-top: 80px;
}

.overview_heading_index_div {
    display: flex;
    align-items: center;
    background: #a399ff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.chart_icon {
    font-size: 30px;
    color: #1d00d8;
}

.overview_heading {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

/* Table container to enable scrolling */
.market_table_container_summary {
    width: 100%;
    overflow-x: auto;
    /* Horizontal scrolling on small screens */
}

/* Table styling */
.market_table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    /* min-width: 900px */
}

.market_table th,
.market_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    /* white-space: nowrap;  */
    word-wrap: break-word;
    white-space: normal;
    max-width: 150px;
    overflow-wrap: break-word;
}

.market_table th {
    background: #1976d2;
    color: #ffffff;
    font-weight: bold;
}

.market_table tr:nth-child(even) {
    background: #f2f2f2;
}

.market_table tr:hover {
    background: #ddd;
}

/* Mobile View Enhancements */
@media screen and (max-width: 768px) {
    .market_table_container_summary {
        width: 100%;
        overflow-x: auto;
    }

    .market_table th,
    .market_table td {
        padding: 6px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .market_table_container_summary {
        width: 85%;
    }

    .market_table th,
    .market_table td {
        padding: 4px;
        font-size: 12px;
    }

    .overview_heading {
        font-size: 16px;
    }

    .chart_icon {
        font-size: 24px;
    }
}

@media screen and (max-width: 360px) {
    .market_table_container_summary {
        width: 77%;
    }

}